body {
  font-family: Museo-Sans-300,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
  background-color: #f3f2ef!important;
}

.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tables > div {
  flex-basis: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slider {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.slider::-webkit-scrollbar {
  display: none;
}
