body {
  height: 100vh;
  background-color: #f3f2ef!important;
}

.slider {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.slider::-webkit-scrollbar {
  display: none;
}
