/* isAuthenticated */
.welcome-div {
  color: #343a40;
  font-weight: 900;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .welcome-div {
    vertical-align: middle;
    line-height: 37.5px;
    padding: 0 5px;
  }
}