#navbar {
  padding: 0 1rem;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}

#search {
  border-radius: 5px;
}

.search-box input:focus {		
	background: #fff;
	box-shadow: none;
}

.search-box .input-group-addon {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 10px 7px;
	height: 100%;
}

.active {
  border-bottom: 2px solid rgba(0,0,0,.9)!important;
}

.dropdown-menu {
  padding: 0!important;
  border: none!important;
  border-radius: 0 0 .25rem .25rem!important;
  font-size: 0.875rem!important;
}

.dropdown-item {
  color: rgba(0,0,0,.5)!important;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #eef3f8!important;
  color: rgba(0,0,0,.7)!important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #ffffff!important;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0.5rem 1.5rem!important;
  }
}

@media (max-width: 500px){
	#navbar {
		padding: 1rem 0 1rem 0;
	}

  .navbar-brand {
    margin: 0 1rem;
  }

  .navbar-toggler {
    margin: 0 1rem;
  }

  #search {
    margin: 1rem 1rem;
  }

  .input-group-addon {
    margin: 1rem 1rem;
  }

  .nav-item {
    margin: 0 1rem;
  }

  .dropdown-menu {
    text-align: center!important;
  }
}